<h2>Edit Marmita</h2>
<form action="/marmitas/<%= marmita.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/marmitas">Cancel</a>
  <button type="submit">Update</button>
</form>
