<h2>Nossas Marmitas</h2>
<div>
  <% marmitas.forEach(marmita => { %>
    <a href="/marmitas/<%= marmita.id %>">
      <img height="250" width="200" src="<%= marmita.productImagePath %>">
    </a>
  <% }) %>
</div>

<h3>Procurar Marmita por nome</h3>
<form action="/marmitas" method="GET">
  <div>
    <label>Nome</label>
    <input type="text" name="nome" value="<%= searchOptions.title %>">
  </div>
  <button type="submit">Search</button>
</form>
