<h2>New Marmita</h2>
<form action="/marmitas" method="POST">
  <a href="/marmitas">Cancel</a>
  <button type="submit">Criar</button>
  <%- include('_form_fields') %>
  <a href="/marmitas">Cancel</a>
  <button type="submit">Criar</button>
</form>
